/* PublicationCard.css */

.publications-card {
    background-color: #434343;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 40px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
  
  }
  
  .publications-card:hover {
    transform: translateY(-5px);
    transform: scale(1.04);
  
  }

  .publications-title {
    font-size: 1.8em;
    color:#E69A8DFF;
    margin-bottom: 10px;
  }
  

  
  .authors {
    font-style: italic;
    color:var(--color5);
    margin-bottom: 8px;
  }
  .journal {
    color:var(--color4);
  }
  
  .publications-link {
    display: inline-block;
    padding: 10px 15px;
    background-color:#4E9F3D ;
    color: var(--color3);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .publications-link:hover {
    background-color: var(--color4);
  }
  